@import '../../style_util/variables';
@import '../../style_util/animations';

.input {
    &__search {
        width: 200px;
        border: 1px solid $color-gray;
        border-radius: 15px;
        padding: 5px 10px;
        margin: 0 10px;
        transition: all 0.2;

        &:hover {
            border: 1px solid $color-primary;
        }
    }

    &__hidden {
        display: none;
    }

    &__primary {
        margin: 10px;
        border-style: none;
        border: 1px solid $color-gray;
        border-radius: 15px;
        padding: 5px 10px;
        width: 100%;
        background-color: $color-white;

        &--animated {
            margin: 10px;
            border-style: none;
            border: 1px solid $color-gray;
            border-radius: 15px;
            padding: 5px 10px;
            width: 100%;
            background-color: $color-white;
            animation: fallIn 0.3s ease-out;
        }

        &:hover {
            border: 1px solid $color-primary;
        }

        // &[type='file'] {
        //     border: 0;
        //     clip: rect(0, 0, 0, 0);
        //     height: 1px;
        //     overflow: hidden;
        //     padding: 0;
        //     position: absolute !important;
        //     white-space: nowrap;
        //     width: 1px;
        // }

        // &[type='file'] + label {
        //     background-color: #000;
        //     border-radius: 4rem;
        //     color: #fff;
        //     cursor: pointer;
        //     display: inline-block;
        //     font-family: 'Poppins', sans-serif;
        //     font-size: 1rem;
        //     font-weight: 700;
        //     height: 4rem;
        //     line-height: 4rem;
        //     padding-left: 2rem;
        //     padding-right: 2rem;
        //     transition: background-color 0.3s;
        // }
    }

    &__submit {
        border-style: none;
        border: 1px solid $color-gray;
        border-radius: 15px;
        padding: 5px 10px;
        background-color: $color-white;
        width: 100px;
        margin: 0 auto;
        cursor: pointer;

        &:hover {
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
            background: linear-gradient(50deg, $color-primary, #bbf497);
            background-size: 400% 400%;
            border: 1px solid transparent;
            color: $color-white;
            animation: gradient 3s ease infinite;
        }
    }
}
