{
    "parser": "babel-eslint",
    "plugins": ["react"],
    "rules": {
        "no-undef": [1],
        "no-console": "off"
    },

    "env": {
        "browser": true,
        "amd": true,
        "node": true
    }
}
