@import '../../style_util/variables';
@import '../../style_util/animations';
@import '../../style_util/mixins';

%shared {
    width: 100px;
    border-style: none;
    border-radius: 15px;
    border: 1px solid $color-gray;
    background-color: $color-white;
    padding: 5px 15px;
    transition: all 0.2;
    cursor: pointer;
}

.button {
    &__primary {
        @extend %shared;

        &:hover {
            @include animated_gradient();
        }
    }
}

.link {
    &__primary {
        @extend %shared;
        text-decoration: none;
        color: $color-black;

        &:hover {
            @include animated_gradient();
        }
    }
}
