.post {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;

    &__info {
        height: 325px;
        width: 100%;
        margin: 10px auto;

        & > img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
}
