.post {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid #eee;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
    padding: 5px;

    &__info {
        height: 325px;
        // width: 100%;
        margin: 0 auto;
        max-height: 500px;
        max-width: 500px;
        height: auto;
        width: auto;

        img {
            max-height: 500px;
            max-width: 500px;
            border-radius: 8px;
            height: auto;
            width: auto;
            object-fit: contain;
        }
    }
}

@media (max-width: 923px) {
    .post {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
