.post {
    display: flex;
    flex-direction: row;
    border: 1px solid #eee;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;

    &__info {
        height: 325px;
        // width: 100%;
        // margin-right: 30px;
        max-height: 400px;
        max-width: 400px;
        height: auto;
        width: auto;

        img {
            max-height: 400px;
            max-width: 400px;
            height: auto;
            width: auto;
            object-fit: contain;
        }
    }
}
