.container {
    text-align: center;
    position: relative;

    &__loading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: salmon;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 250px 250px;
    grid-gap: 10px;
    margin: 10px auto;
    padding: 10px;
    width: 90%;
    height: 600px;
    overflow: auto;
    box-sizing: border-box;
}
