@import '../../style_util/variables';

.comments {
    width: 100%;
    height: 330px;
    padding: 10px;
    display: flex;
    flex-direction: column;

    &__caption {
        text-align: center;
    }

    &__list {
        overflow: auto;
        border-bottom: 1px solid $color-gray;
        padding: 5px;
    }

    &__send {
        border-style: none;
        background-color: $color-white;
        cursor: pointer;
    }

    &__form {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
