@import '../../style_util/variables';

.comments {
    width: 100%;
    height: 330px;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    &__caption {
        text-align: center;
        width: 90%;
    }

    &__like {
        &:hover {
            color: $color-primary;
        }
    }

    &__list {
        overflow: auto;
        border-bottom: 1px solid $color-gray;
        // box-shadow: 0px -2px 2px rgba($color-black, 0.4) inset;
        padding: 5px;
        width: 330px;
    }

    &__send {
        border-style: none;
        background-color: $color-white;
        cursor: pointer;
    }

    &__form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 325px;
    }
}

@media (max-width: 923px) {
    .comments {
        height: 260px;
        &__form {
            max-width: 300px;
        }
    }
}
