@keyframes fallIn {
    from {
        margin-top: 1000px;
        margin-left: 1000px;
        opacity: 0;
    }
    to {
        margin-top: 0;
        margin-left: 0;
        opacity: 1;
    }
}

@-webkit-keyframes gradient {
    0% {
        background-position: 76% 0%;
    }
    50% {
        background-position: 25% 100%;
    }
    100% {
        background-position: 76% 0%;
    }
}
@-moz-keyframes gradient {
    0% {
        background-position: 76% 0%;
    }
    50% {
        background-position: 25% 100%;
    }
    100% {
        background-position: 76% 0%;
    }
}
@keyframes gradient {
    0% {
        background-position: 76% 0%;
    }
    50% {
        background-position: 25% 100%;
    }
    100% {
        background-position: 76% 0%;
    }
}
